.panel_container{
	width: 800px;
	height: 600px;
	border: #000 1px solid;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
	color: #fff;
	font-size: 220px;
	line-height: 270%;
	text-align: center;
}

.btn_container,
.container_btn_redimensionar{
	width: 600px;
	margin: 20px auto;
	text-align: center;
}

.btn_container li{
	display: inline-block;
}

.btn_container li:after{
	content: " | ";
}